.sell-container{
    display: grid;
}

.sell-page-root{
    width: 100%;
    height: 100%;
}

.internal-sell-page-root{
    width: 100%;
    height: 95%;
}

.sell-page-list-block{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sell-page-list-block::-webkit-scrollbar {
    width: 0px;
}

.sell-button-group-accept{
    display: grid;
    grid-template-columns: 1fr 250px;
}

.sell-button-accept{
    width: 150px;
    height: 30px;
    background-color: beige;
    justify-self: right;
    margin-right: 55px;
    align-self: center;
    border-radius: 5px;
    color: black;
    font-size: large;
}

.sell-button-accept:hover{
    background-color: azure;
}

.cash-form-control{
    width: 150px;
    border-radius: 5px;
    font-size: large;
    justify-self: right;
    text-align: right;
}

.cash-form-control::-webkit-outer-spin-button,
.cash-form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sell-page-row-block{
    display: grid;
    grid-auto-flow: row;
}

.sell-page-category{
    font-size: larger;
    font-weight: bold;
    padding-left: 25px;
    border-bottom: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 250px;
}

.sell-page-category-wide{
    font-size: larger;
    font-weight: bold;
    padding-left: 25px;
    border-bottom: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 150px 150px 150px 150px 150px;
}

.sell-page-category-sold{
    justify-self: end;
    padding-right: 25px;
}

.sell-page-item{
    font-size: large;
    font-weight: bold;
    grid-template-columns: 1fr 250px 250px;
    display: grid;
    margin-top: 3px;
    margin-bottom: 3px;
    display: grid;
    border-bottom: solid 2px black;
}

.sell-page-item-wide{
    font-size: large;
    font-weight: bold;
    grid-template-columns: 1fr 150px 150px 150px 150px 150px;
    display: grid;
    margin-top: 3px;
    margin-bottom: 3px;
    display: grid;
    border-bottom: solid 2px black;
}

.sell-page-item-simple{
    font-size: large;
    font-weight: bold;
    grid-template-columns: 1fr 250px;
    display: grid;
    margin-top: 3px;
    margin-bottom: 3px;
    display: grid;
    border-bottom: solid 2px black;
}


.sell-page-item-name{
    padding-left: 35px;
}

.sell-page-item-intermediate{
    justify-self: center;
}

.sell-page-item-sold{
    padding-right: 25px;
    justify-self: end;
}

.sell-page-tabs{
    background-color:#1a82a5b0;
    width: 100%;
    height: 35px;
    display: grid;
    grid-template-columns: 100px 100px 1fr;
}

.sell-page-tab{
    width: 100%;
    background-color: #1a82a5b0;
    border: none;
    font-weight: bold;
    font-size: large;
    color: yellow;
}

.sell-page-tab:hover{
    background-color: #1ea2ceb0;
}

.sell-page-tab.active{
    background-color: #1ea2ceb0;
}

.left-change-date-button{
    background-image: url("../../../public/images/triangle_left_16.png");
    background-color: transparent;
    height: 18px;
    width: 16px;
    border-width: 0px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 2px;
}

.left-change-date-button:active{
    background-image: url("../../../public/images/triangle_left_16_active.png");
}

.right-change-date-button{
    background-image: url("../../../public/images/triangle_right_16.png");
    background-color: transparent;
    height: 18px;
    width: 16px;
    border-width: 0px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 2px;
}

.right-change-date-button:active{
    background-image: url("../../../public/images/triangle_right_16_active.png");
}

.history-snapshot-data{
    height: 18px;
    margin-top: 0px;
}

.historysearch-panel-container{
    grid-template-columns: 1fr 150px;
    display: grid;
}

.historysearch-panel-col-right{
    height: 100%;
}

.historysearch-panel-col-left{
    width: 100%;
}

.historysearch-panel-col-right-form{
    margin-top: 8px;
    height: 24px;
    background-color: transparent;
    border-radius: 5px;
    display: grid;
    gap: normal;
    align-items: stretch;
    justify-items: center;
    align-content: center;
    grid-auto-flow: column;
    padding-left: 5px;
}

.snapshots-selector-form{
    margin-top: 8px;
    height: 24px;
    background-color: transparent;
    border-radius: 5px;
    display: grid;
    gap: normal;
    align-items: stretch;
    justify-items: center;
    align-content: center;
    grid-auto-flow: column;
    padding-left: 5px;
    grid-template-columns: 18px 150px 18px 1fr;
}

.snapshots-selector-form-wide{
    grid-template-columns: 18px 150px 18px 250px 220px 1fr;
}
.reduced-history-page-list-block{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 25px;
}

.sell-page-container{
    margin-top: 10px;
    height: 100%;
}

.cash-in-cashbox{
    font-size: large;
    font-weight: bold;
    justify-self: start;
    padding-left: 10px;
}

.snapshot-seller{
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

.sell-page-full-history-container{
    font-size: medium;
}